html,
body {
  padding: 0;
  margin: auto;
  font-family: "Hedvig Letters Sans", sans-serif;
  background-color: "white";
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: black;
}

button:hover {
  text-decoration: underline;
}

.card:hover {
  background-image: linear-gradient(
    90deg,
    rgba(238, 190, 230, 1) 0%,
    rgba(199, 163, 228, 1) 35%,
    rgba(180, 151, 227, 1) 100%
  );
}

.font-style-2 {
  font-family: "Protest Guerrilla", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .hero-container {
    display: none;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
